<app-navigation (openLogin)="handleLoginToggle($event)"></app-navigation>
@if (isLoginShown) {
<app-login (trailer)="handleLoginToggle($event)" (opensign)="handleSignupToggle($event)"></app-login>
}
@if (isSignupShown) {
<app-signup (opensign)="handleSignupToggle($event)"></app-signup>
}
<router-outlet></router-outlet>

@if (service.showDetails()) {
  <app-details [id]="service.activeId()" class="details-popup-wrapper" (closedetails)="service.showDetails.set($event)"></app-details>
}

<app-footer></app-footer>