<div (click)="closePopupArea($event)" class="popup">
    @if (product() && product().images) {
    <main class="details-card">
        <div class="next-product-btn" (click)="closedetailsofc()">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
        <section class="image-gallery">
            <div class="thumbnails-list">
                @for (img of product().images; track $index) {
                <div class="thumb-item" [class.active]="selectedImageIndex() === $index"
                    (click)="selectedImageIndex.set($index)">
                    <img [src]="img" alt="product" #t (error)="t.src = 'https://placehold.co/400x400?text=No+Photo'">
                </div>
                }
            </div>

            <div class="main-image-container">
                <button class="slide-btn prev" (click)="prevImage()">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>

                <img [src]="product().images[selectedImageIndex()]" class="main-img" #m
                    (error)="m.src = 'https://placehold.co/600x600?text=No+Photo'">

                <button class="slide-btn next" (click)="nextImage()">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </section>

        <section class="info-content">
            <h2 class="brand-tag">{{ product().brand }}</h2>
            <h1 class="product-name">{{ product().title }}</h1>

            <div class="price-section">
                @if (product().price.discountPercentage > 0) {
                <div class="discount-badge">
                    -{{ product().price.discountPercentage }}%
                </div>
                <div class="price-row">
                    <span class="old-price">
                        {{ product().price.beforeDiscount }}{{ product().price.currency == "USD" ? '$' :
                        product().price.currency }}
                    </span>
                    <span class="new-price">
                        {{ product().price.current }}{{ product().price.currency == "USD" ? '$' :
                        product().price.currency }}
                    </span>
                </div>
                } @else {
                <div class="price-row">
                    <span class="normal-price">
                        {{ product().price.current }}{{ product().price.currency == "USD" ? '$' :
                        product().price.currency }}
                    </span>
                </div>
                }
            </div>

            <h3 style="margin-bottom: 10px;">rating: {{product().rating.toFixed(1) == 0 ? product().rating.toFixed(0) :
                product().rating.toFixed(1)}} </h3>

            <h3 style="margin-bottom: 10px;" [style.color]="product().stock <= 0 ? 'red' : 'green'">stock:
                {{product().stock < 0 ? 0 : product().stock}} </h3>

                    <p class="description">{{ product().description}}</p>

                    <button class="add-btn" [disabled]="product().stock <= 0 || !isLoggedIn()" (click)="addToCart()">
                        @if (!isLoggedIn()) {
                        Log in to Buy
                        } @else {
                        {{ product().stock > 0 ? 'Add to Cart' : 'Out of Stock' }}
                        }
                    </button>
        </section>
    </main>
    }
    @else {
    <div class="loading-spinner">Loading...</div>
    }
</div>